<div class="ct_middle_cnt">
  <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mb-4">
    <h2 class="ct_h2">Transaction History</h2>

    <div class="">
      <div class="d-flex align-items-center justify-content-between ct_responsive_wrap">

        <!-- <div class="position-relative ct_search_input">
          <input type="text" class="form-control ct_flex_1" placeholder="Search" [(ngModel)]="searchQuery">
        </div> -->
      </div>
    </div>

  </div>
  <section class="mb-5">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="ct_transaction_card">
          <h5 class=" text-center mb-3">Admin Earnings</h5>
          <h2 class="ct_fw_600 text-center">$ {{totalAdminEarning ? totalAdminEarning : '0'}}</h2>
        </div>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <div class="ct_transaction_card">
          <h5 class=" text-center mb-3">Total Earnings</h5>
          <h2 class="ct_fw_600 text-center">$ {{totalTotalEarning ? totalTotalEarning : '0'}}</h2>
        </div>
      </div>

    </div>

    <div class="table-responsive">
      <table class="table ct_custom_table">
        <thead>
          <tr>
            <th>S No.</th>
            <!-- <th>Sender's Image</th> -->
            <th>Sender's Profile</th>
            <!-- <th>Sender's Number</th> -->
            <!-- <th>Sender's Gender</th> -->
            <!-- <th>Receiver's Image</th> -->
            <th>Receiver's Profile</th>
            <!-- <th>Receiver's Number</th> -->
            <!-- <th>Receiver's Gender</th> -->
            <th>Total Amount</th>
            <th>Admin Commission(%)</th>
            <th>Admin Earnings</th>
            <th>Total Earnings</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let row of data | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"> -->
          <tr *ngFor="let row of data | filter2:searchQuery; let i = index">
            <td>{{i+1}}</td>
            <!-- <td>{{row.boyImage}}</td> -->
            <td class="text-start">
              <div class="ct_event_img d-flex align-items-center gap-2">
                <img [src]="row.boyImage ? row.boyImage : 'assets/img/np_pro.png'" alt="img">
                <div>
                  <p class="mb-0 ct_fw_600"> {{row.recived_from_User.fullName}}</p>
                  <p class="mb-0" style="font-size: 13px;">{{row.recived_from_User.mobileNumber}}</p>
                </div>
              </div>
            </td>

            <!-- <td>{{row.paid_to_User.gender}}</td> -->

            <!-- <td>{{row.girlImage}}</td> -->
            <td class="text-start">
              <div class="ct_event_img d-flex align-items-center gap-2">
                <img [src]="row.girlImage ? row.girlImage : 'assets/img/np_pro.png'" alt="img">
                <div>
                  <p class="mb-0 ct_fw_600"> {{row.paid_to_User.fullName}}</p>
                  <p class="mb-0" style="font-size: 13px;">{{row.paid_to_User.mobileNumber}}</p>
                </div>
              </div>
            </td>


            <!-- <td>{{row.recived_from_User.gender}}</td> -->

            <td>{{row.amount}}</td>
            <td>{{row.adminCommisson}}</td>
            <td>{{row.AdminEarning}}</td>
            <td>{{row.TotalEarning}}</td>

            <!-- <td>
              <ng-container *ngIf="row.payment_status == 0"> <span
                  class="ct_badge ct_pending_clr">Pending</span></ng-container>
              <ng-container *ngIf="row.payment_status == 1"><span
                  class="ct_badge ct_accept_clr">Success</span></ng-container>
              <ng-container *ngIf="row.payment_status == 2"><span
                  class="ct_badge ct_rejected_clr">Rejected</span></ng-container>
            </td> -->
          </tr>
          <!-- <pagination-controls *ngIf="!(data?.length == 0)" (pageChange)="p = $event"></pagination-controls> -->
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <div *ngIf="(!data || (data | filter2: searchQuery)?.length === 0)" class="no-item-found">
                <p class="text-center my-5"> No results found</p>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>



    </div>

  </section>

</div>

<!-- <ng-template #imageTemplate let-row="row">
    <div class="ct_event_img">
      <img [src]="row.userProfile" alt="img" width="50" height="50">
    </div>
  </ng-template>
  
  <ng-template #statusTemplate let-row="row">
    <ng-container *ngIf="row.payment_status == 0">
      <span class="ct_badge ct_pending_clr">Pending</span>
    </ng-container>
    <ng-container *ngIf="row.payment_status == 1">
      <span class="ct_badge ct_accept_clr">Success</span>
    </ng-container>
    <ng-container *ngIf="row.payment_status == 2">
      <span class="ct_badge ct_rejected_clr">Rejected</span>
    </ng-container>
  </ng-template>
  
  <ngx-datatable
    class="bootstrap"
    [rows]="data"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [reorderable]="true">
  </ngx-datatable> -->