<div class="ct_login_bg_main">
    <div class="ct_login_inner" data-tilt>
        <div class="mb-5 ct_login_head">
            <h2 class=" text-center text-white ct_JlrGoodRead">Change Password</h2>
            <p class="text-center text-white">Create your new password</p>
        </div>
        <form [formGroup]="form">
            <div class="form-floating mb-3 ct_input position-relative">
                <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}" class="form-control" id="floatingInput"
                    placeholder="name@example.com" formControlName="current_password" maxlength="10">
                <label for="floatingInput">Current Password</label>
                <i class="fa-regular ct_show_pass" [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                    (click)="togglePasswordVisibility1()"></i>
                <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                    class="error-message">
                    <div *ngIf="form.controls['current_password'].errors?.['required']">Current password is required.
                    </div>
                </div>
            </div>

            <div class="form-floating ct_input mb-3 position-relative">
                <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}" class="form-control" id="floatingPassword"
                    placeholder="Password" formControlName="new_password" maxlength="10">
                <label for="floatingPassword">New Password</label>
                <i class="fa-regular  ct_show_pass" [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                    (click)="togglePasswordVisibility2()"></i>
                <!-- <div *ngIf="form.controls['new_password']?.invalid && form.controls['new_password'].touched"
                    class="error-message">
                    <div *ngIf="form.controls['new_password'].errors?.['required']">This
                        field is required.
                    </div>
                </div> -->
                <div class="error-message"
                    *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">
                    <div *ngIf="form.controls['new_password'].errors?.['required']">New password is required.</div>
                    <div *ngIf="form.controls['new_password'].errors?.['minlength']">
                        New password must be at least 8 characters long.
                    </div>
                </div>
            </div>

            <div class="form-floating ct_input position-relative">
                <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}" class="form-control" id="floatingPassword"
                    placeholder="Password" formControlName="confirm_password" maxlength="10">
                <label for="floatingPassword">Confirm Password</label>
                <i class="fa-regular  ct_show_pass" [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                    (click)="togglePasswordVisibility3()"></i>
                <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                    class="error-message">
                    <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                        Confirm password is required.</div>
                    <div *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                        Passwords do not match.</div>
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="button" (click)="submitForm()" class="ct_custom_btn w-auto">Save Password</button>
            </div>
        </form>
    </div>
</div>