<div class="ct_right_header">
    <div class="ct_toggle_bar" (click)="toggleMenu()">
        <i class="fa-solid fa-bars-staggered"></i>
    </div>

    <div class="d-flex gap-2 ms-auto position-relative">

        <div class="ct_my_account dropdown ms-auto">
            <button class="ct_custom_btn py-2 px-3 w-auto" data-bs-toggle="modal" data-bs-target="#ct_add_event1">
                <i class="fa-solid fa-paper-plane"></i> 
            </button>
        </div>

        <div class="ct_my_account dropdown ms-auto">
            <button class="ct_custom_btn py-2 px-3 w-auto" data-bs-toggle="modal" data-bs-target="#ct_add_event12">
                Add Commission
            </button>
        </div>

        <div class="ct_my_account dropdown ms-auto">

            <button class="ct_custom_btn py-2 px-4 w-auto dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                My Account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/user/main/my-profile">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="/user/main/change-password">Change Password</a></li>
                <li> <a class="dropdown-item" (click)="logOut()">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>




<!-- Add Comission -->
<div class="modal fade" id="ct_add_event12" tabindex="-1" aria-labelledby="ct_add_eventLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Admin Commission</h2>
                    <form [formGroup]="newForm">

                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Admin Commission</label>
                            <input type="text" maxlength="3" required formControlName="body" />
                            <!-- <div *ngIf="newForm.controls['body'].invalid && newForm.controls['body'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['body'].errors?.['required']">This field is
                                    required.
                                </div>
                            </div> -->
                            <div *ngIf="newForm.controls['body'].invalid && newForm.controls['body'].touched"
                                class="error-message">
                                <div *ngIf="newForm.controls['body'].errors?.['required']">This field is required.</div>
                                <div *ngIf="newForm.controls['body'].errors?.['pattern']">Only numeric values are
                                    allowed.</div>
                                <div *ngIf="newForm.controls['body'].errors?.['numberRange']">Number must be between 1
                                    and 100.</div>
                            </div>
                        </div>


                        <button type="button" (click)="addEvent()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Add Commission</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Notification -->
<div class="modal fade" id="ct_add_event1" tabindex="-1" aria-labelledby="ct_add_eventLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-5">
                <div class="ct_event_modal">
                    <h2 class="text-center mb-5 ct_h2">Notification</h2>
                    <form [formGroup]="newForm1">

                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Title</label>
                            <input type="text" required formControlName="title" />
                            <div *ngIf="newForm1.controls['title']?.invalid && newForm1.controls['title'].touched"
                                class="error-message">
                                <div *ngIf="newForm1.controls['title'].errors?.['required']">Title is
                                    required.
                                </div>
                            </div>
                        </div>

                        <div class="ct_formField mb-3">
                            <label for="" class="mb-2 ct_fw_600">Message</label>
                            <input type="text" required formControlName="body" />
                            <div *ngIf="newForm1.controls['body']?.invalid && newForm1.controls['body'].touched"
                                class="error-message">
                                <div *ngIf="newForm1.controls['body']?.errors?.['required']">Message is
                                    required.
                                </div>
                            </div>
                        </div>


                        <button type="button" (click)="addNotification()"
                            class="ct_custom_btn mt-5 px-4 w-auto mx-auto d-block">Send Notification</button>
                        <button hidden type="button" class="btn btn-secondary" #closeModal1
                            data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>