<div class="ct_login_bg_main">
    <div class="ct_login_inner"  data-tilt>
      <div class="mb-5 ct_login_head">
        <h2 class=" text-center text-white ct_JlrGoodRead">Forgot Password?</h2>
       
       </div>
        <form [formGroup]="resetForm">
            <div class="form-floating mb-3 ct_input">
                <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                   <!-- <p class="ct_error_text">Please enter your email</p> -->
                   <div *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].touched"
                   class="error-message">
                   <div *ngIf="resetForm.controls['email'].errors?.['required']">Email is required.
                   </div>
                   <div
                       *ngIf="resetForm.controls['email'].errors?.['email'] && !resetForm.controls['email'].errors?.['required']">
                       Invalid email format.
                   </div>
               </div>
              </div>

              <div class="text-center mt-5">
                <button type="button" class="ct_custom_btn" (click)="onSubmit()">Continue</button>
              </div>
              <p class="text-center mt-3 ct_bottom_link">Already have an account? <a routerLink="/login">Signin</a></p>
              
        </form>
    </div>
</div>